@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


.sectionOne, .faqSection, .sectionContact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 800px;
    width: 1400px;
    align-self: end;
    align-self: center;
}

section h2{
    font-size: 72px;
    font-weight: 700;
    margin: 40px;
}

.sectionSubtitle{
    font-weight: 400;
    font-size: 32px;
    line-height: 120%;
    text-align: center;
}
