
.sectionCampaign__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.sectionCampaign__video {
    flex: 1;
    margin-left: 2rem;
}

.sectionCampaign__video iframe {
    width: 90%;
    height: 500px;
    border-radius: 50px;
}

.sectionCampaign__text {
    width: 90%;
    flex: 1;
    text-align: left;
}

.sectionCampaign__text h2 {
    margin: auto;
    font-size: 4rem;
}

.sectionCampaign__text p {
    font-size: 2rem;
    margin: 1rem 3rem 1rem 0;
}

.sectionCampaign button {
    margin-top: 1.5rem;
}

.swiper-button-next,
.swiper-button-prev {
    background: none;
    border: none;
    color: black;
}

.swiper-button-next {
    right: -2px;
}

.swiper-button-prev {
    left: -2px;
}