.imageCostumer {
    background-image: url('../assets/images/sectionCostumer/costumerBgd.png');
    background-size: cover;
    background-position: center;
}

.sectionCustomer {
    padding: 50px 0;
    text-align: center;
}

.mySwiper {
    margin-top: 60px;
    width: 950px;
}

.swiperContainer{
    border: 2px solid red;
    width: 90%;
}

.testimonial-card {
    background: #fff;
<<<<<<< Updated upstream
    padding: 20px;
=======
    height: 350px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
>>>>>>> Stashed changes
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 300px; /* Ajuste conforme necessário */
    height: auto;
    box-sizing: border-box;
    text-align: center;
    position: relative; /* Necessário para o posicionamento absoluto do logo */
}

.testimonial-text {
    font-weight: 500;
    width: 80%;
    font-size: 16px;
<<<<<<< Updated upstream
    margin-bottom: 40px; /* Aumentado para criar mais espaço entre o testemunho e o container */
    font-style: italic;
    color: #333;
=======
    text-align: left;
    margin: 20px auto;
    padding: 20px;
    font-style: italic;
    color: #000000;
    border: 2px solid red;
    flex-grow: 1; /* Faz o texto crescer para ocupar o espaço disponível */
>>>>>>> Stashed changes
}


.testimonial-footer {
    background: #252525; /* Fundo cinza escuro */
    border-radius: 10px;
    padding: 10px;
    position: relative;
    overflow: visible; /* Permite que o conteúdo saia do container */
    padding-top: 40px; /* Ajustado para garantir que a imagem não sobreponha o testemunho */
}

.testimonial-logo {
    width: 80px; /* Ajuste conforme necessário */
    height: 80px; /* Ajuste conforme necessário */
    object-fit: contain;
    position: absolute;
    top: -40px; /* Posiciona a metade da imagem fora do container */
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%; /* Opcional: Torna a imagem circular */
}

.testimonial-name {
    font-size: 16px;
    font-weight: bold;
    color: #fff; /* Cor do texto branco */
    margin: 0; /* Remover margens adicionais */
}

.testimonial-position {
    font-size: 14px;
    color: #ddd; /* Cor do texto mais claro */
    margin: 0;
}

.swiper-pagination-bullet-active {
    background-color: #000 !important;
    
}

button {
    margin-top: 30px;
    padding: 12px 25px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #333;
}
.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
    color: #000000; /* Cor das setas */
    width: 20px; /* Largura das setas */
    height: 20px; /* Altura das setas */
    z-index: 10; /* Garante que as setas fiquem acima do conteúdo */
    border: 2px solid red;
    
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 20px; /* Tamanho dos ícones das setas */
}

.mySwiper  .swiper-button-next {
    right: -10px; /* Distância da borda direita */
}

.mySwiper .swiper-button-prev {
    left: 10px; /* Distância da borda esquerda */
}