.imageOne{
    background-image:  linear-gradient(rgba(0, 17, 255, 0.058), rgba(0, 0, 0, 0.595)), url('../assets/images/sectionOne/section1bdgEXTENDED.png');
}

.sectionOne{
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left
    
}

.image-effect {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.5s ease; 
}


.lamp-image {
    width: 50px;
    height: 53.42px;
    top: 30px;
    left: 920px;
    background-image: url('../assets/images/sectionOne/lamp.png');
}

.sound-image {
    width: 200px;
    height: 90px;
    top: -105px;
    left: 490px;
    background-image: url('../assets/images/sectionOne/sound.png');
}

.mainTitle {
    align-self: center;
    justify-self: center;
    margin: auto;
    margin-top: 130px;
    height: 400px;
}

.mainTitle h1 {
    font-size: 96px;;
    width: 1052px;
    font-weight: 350;
}


.sectionOne p {
    width:800px;
    font-weight: 700;
    font-size: 1.5em;
} 

