.imageOne{
    background-image: url('../assets/images/sectionOne/section1bdgEXTENDED.png');
}

.sectionOne{
    width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left
}

.image-effect {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.5s ease; 
}


.lamp-image {
    width: 50px;
    height: 53.42px;
    top: 30px;
    left: 920px;
    background-image: url('../assets/images/sectionOne/lamp.png');
}

.sound-image {
    width: 200px;
    height: 90px;
    top: -105px;
    left: 490px;
    background-image: url('../assets/images/sectionOne/sound.png');
}

.mainTitle {
    align-self: center;
    justify-self: center;
    margin: auto;
    height: 400px;
}

.mainTitle h1 {
    font-size: 96px;;
    width: 1052px;
    font-weight: 350;
}


.sectionOne p {
    font-size: 20px;
    margin-top: auto;
    margin-bottom: 0px;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.553);
} 

